#div-html-conhecimentos {
    color: white;
    background: rgba(201, 10, 10, 0.2);
    position: absolute;
    top: 220.5%;
    left: 4%;
    height: 45%;
    width: 36%;
}

#div-css-conhecimentos {
    color: white;
    background: rgba(201, 10, 10, 0.2);
    position: absolute;
    top: 220.5%;
    left: 59%;
    height: 45%;
    width: 36%;
}

#div-js-conhecimentos {
    color: white;
    background: rgba(201, 10, 10, 0.2);
    position: absolute;
    top: 287%;
    left: 4%;
    height: 45%;
    width: 36%;
}

#div-reactjs-conhecimentos {
    color: white;
    background: rgba(201, 10, 10, 0.2);
    position: absolute;
    top: 287%;
    left: 59%;
    height: 45%;
    width: 36%;
}

.animacao-conhecimentosBefore {
    animation: conhecimentosBefore 2s ease-in-out;
}
.animacao-conhecimentosAfter {
    animation: conhecimentosAfter 2s ease-in-out;
}

#bt-local-conhecimentos {
    background: rgb(199, 56, 56);
    text-align: center;
    padding: 7px;
    border-radius: 5px;
    top: 206.5%;
    position: absolute;
    left: 42.8%;
    color: #ece6e6;
    border-radius: 4px;
}

#span-html {
    display: block;
    margin-top: 3%;
    font-size: 38px;
    text-align: center;
    margin-bottom: 3.2%;
}
#span-html-txt1 {
    text-align: center;
    font-size: 21.1px;
    display: block;
    margin-bottom: 2.6%;
}
#span-html-txt2 {
    font-size: 19px;
    text-align: center;
    display: block;
    line-height: 36px;
}


#span-css {
    display: block;
    margin-top: 3%;
    font-size: 38px;
    text-align: center;
    margin-bottom: 3.2%;
}
#span-css-txt1 {
    text-align: center;
    font-size: 21.1px;
    display: block;
    margin-bottom: 2.6%;
}
#span-css-txt2 {
    font-size: 19px;
    text-align: center;
    display: block;
    line-height: 36px;
}


#span-js {
    display: block;
    margin-top: 3%;
    font-size: 38px;
    text-align: center;
    margin-bottom: 3.2%;
}
#span-js-txt1 {
    text-align: center;
    font-size: 21.1px;
    display: block;
    margin-bottom: 2.6%;
}
#span-js-txt2 {
    font-size: 19px;
    text-align: center;
    display: block;
    line-height: 36px;
}


#span-reactjs {
    display: block;
    margin-top: 3%;
    font-size: 38px;
    text-align: center;
    margin-bottom: 3.2%;
}
#span-reactjs-txt1 {
    text-align: center;
    font-size: 21.1px;
    display: block;
    margin-bottom: 2.6%;
}
#span-reactjs-txt2 {
    font-size: 19px;
    text-align: center;
    display: block;
    line-height: 36px;
}


#span-ver-o-resto {
    opacity: 1;
    animation: verOResto 4s infinite ease-in-out;
    position: absolute;
    top: 220%;
}


@keyframes verOResto {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.2;
    }

    20% {
        opacity: 0.4;
    }

    30% {
        opacity: 0.6;
    }

    40% {
        opacity: 0.8;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0.8;
    }

    70% {
        opacity: 0.6;
    }

    80% {
        opacity: 0.4;
    }

    90% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

@keyframes conhecimentosBefore {
    0% {
        left: 6.5%;
    }
    
    100% {
        left: -86%;
    }
}

@keyframes conhecimentosAfter {
    0% {
        left: 100%;
    }

    100% {
        left: 6.5%;
    }
}
