#div-contato {
    color: white;
    /* font-size: 16px; */
}

#span-git-barra {
    position: absolute;
    left: 95%;
}

#span-link-barra {
    
}

.github {
    float: right;
    /* position: absolute; */
}
