#div-sobre {

}

#div-sobre-txt {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 59.1%;
    width: 72.4%;
    top: 114%;
    left: 15%;
    border-radius: 10px;
    /* border: 1px solid red; */
}


#bt-local {
    background: rgb(133, 133, 233);
    text-align: center;
    padding: 7px;
    border-radius: 2px;
    top: 98%;
    position: absolute;
    left: 47%;
    color: white;
}

#bt-local:hover {

}
#bt-local:focus {
    border: 1px solid white;
    padding: 7px;
}

#span-sobre-mim {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 42.9%;
    left: 8%;
}

#span-sobre-txt {
    color: white;
    position: absolute;
    left: 41%;
}

#span-sobre-txt {
    color: white;
    position: absolute;
    left: 41%;
    top: 36.4%;
    font-size: 18px;
    line-height: 25px;
}



@media only screen and (max-width: 767px) {

    #div-sobre-txt {
        width: 99%;
        left: 0%;
        height: 66%;
    }

    #bt-local {
        left: 42.1%;
    }

    #span-sobre-mim {

    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media only screen and (min-width: 992px) {

}
