#div-sobre {

}

#div-sobre-txt {
    border: 1px solid red;
    position: absolute;
    height: 56.1%;
    width: 68.1%;
    top: 98.1%;
    left: 17%;
}


#bt-local {
    background: rgb(133, 133, 233);
    text-align: center;
    padding: 7px;
    border-radius: 2px;
    top: 83.3%;
    position: absolute;
    left: 47%;
    color: white;
}

#bt-local:hover {

}
#bt-local:focus {
    border: 1px solid white;
    padding: 7px;
}



@media only screen and (max-width: 767px) {

    #div-sobre-txt {
        width: 99%;
        left: 0%;
        height: 66%;
    }

    #bt-local {
        left: 42.1%;
    }

    #span-sobre-mim {

    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media only screen and (min-width: 992px) {

}  
